* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    max-width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

header a {
    text-decoration: none;
    color: #292F36;
    font-size: 20px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    &:hover {
      filter: brightness(1.25);
      transition: ease-in-out 0.2s;
      -webkit-filter: brightness(1.25);
}
    @media  screen and (max-width: 768px){
        display: none;
    }
}

.logo img {
    width: 34px;
    height: 34px;
}

.logo h1 {
    font-size: 40px;
    font-family: DM Serif Display, serif;
    font-weight: 400;
}

nav {
    display: flex;
    gap: 20px;
}

.main {
    max-width: 1200px;
    height: 760px;
    margin: 40px auto;
    border-radius: 70px;
    background-image: url(/assets/homeImg.svg);
}

.main .content {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 100%;
    padding: 0 25px;
    gap: 20px;
}

.main .content h1 {
    font-size: 65px;
    font-family: DM Serif Display, serif;
    font-weight: 400;
    line-height: 125%;
    color: #292F36;
}

.main .content p {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1%;
    color: #4D5053;
}

.main .content button {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2%;
    color: #fff;
    background-color: #292F36;
    border: none;
    border-radius: 18px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    &:hover {
      filter: brightness(1.25);
      transition: ease-in-out 0.2s;
      -webkit-filter: brightness(1.25);
    }
}

.quote-wrapper {
	display: flex;
    justify-content: center;
	padding: 0 20px;
}

.blockquote {
	position: relative;
	font-family: 'DM Serif Display', serif;
	max-width: 620px;
	margin: 80px auto;
	align-self: center;
}

.blockquote h1 {
	font-family: 'DM Serif Display', serif;
	position: relative;
	color: #292F36;
	font-size: 2.8rem;
	font-weight: normal;
	line-height: 1;
	margin: 0;
	border: 2px solid #fff;
	border: solid 2px;
	border-radius: 20px;
	padding: 25px;
}
.blockquote h1 span{
	color: #CDA274;
}
.blockquote h1:after {
	content: "";
	position: absolute;
	border: 2px solid #292F36;
	border-radius: 0 50px 0 0;
	width: 60px;
	height: 60px;
	bottom: -62px;
	left: 50px;
	border-bottom: none;
	border-left: none;
	z-index: 3;
}
.blockquote h1:before {
	content: "";
	position: absolute;
	width: 80px;
	border: 6px solid #292a2b;
	bottom: -3px;
	left: 50px;
	z-index: 2;
}
@media all and (min-width: 600px) {
	.blockquote h1 {
		font-size: 3rem;
		line-height: 1.2;
	}
}
.blockquote h4 {
	position: relative;
	color: #4D5053;
	font-size: 1.3rem;
	font-weight: 400;
	line-height: 1.2;
	margin: 0;
	padding-top: 15px;
	z-index: 1;
	margin-left: 150px;
	padding-left: 12px;
}

.blockquote h4:first-letter {
	margin-left: -12px;
}

.designTypes {
    margin: 100px auto;
    max-width: 1200px;
    border-radius: 70px;
    background-color: #F4F0EC;
    padding: 50px 0;
    text-align: center;
} 

.designTypes h2 {
    font-size: 50px;
    font-family: DM Serif Display, serif;
    font-weight: 400;
    color: #363B41;
}

.designTypes p {
    max-width: 800px;
    margin: 20px auto;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1%;
    color: #4D5053;
}

.designTypes .designTypesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: left;
    margin-top: 100px;
}

.designTypes .designTypesContainer .designTypeContent h3 {
    font-size: 35px;
    font-family: DM Serif Display, serif;
    font-weight: 400;
    color: #292F36;
}

.designTypes .designTypesContainer .designTypeContent p {
    font-family: 'Jost', sans-serif;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 1%;
    color: #4D5053;
}

.designTypes .designTypesContainer .designType1 {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0 50px;
}

.designTypes .designTypesContainer .designType2 {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0 50px;
}

.designTypes .designTypesContainer .designTypeImg {
    max-width: 450px;
    max-height: 450px;
    @media screen and (max-width: 768px){
        display: none;
    }
}

.designTypes .designTypesContainer .designTypeImg img {
    width: 100%;
    height: 100%;
    border-radius: 0 100px 0 300px;
}

@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #726659;
  
  border: solid 1px #b3aca7;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

textarea {
  max-width: 470px;
  width: 100%;
  max-height: 110px;
  height: 100%;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  
  border: solid 1px #b3aca7;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

#submit {
  padding: 0;
  margin: -5px 0px 0px 0px;
  
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: #e2dedb;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 20px 40px;
}

footer .footerContent {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
}

footer .footerNav {
    max-width: 400px;
    gap: 20px;
}

footer a {
    text-decoration: none;
    color: #292F36;
    font-size: 20px;

    &:active {
      color: #CDA274;
    }
}

footer .footerLogo {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    &:hover {
      filter: brightness(1.25);
      transition: ease-in-out 0.2s;
      -webkit-filter: brightness(1.25);
    }
}

footer .footerContent p {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1%;
    color: #4D5053;
}

footer .footerContent .footerSocial a img {
    width: 40px;
    height: 40px;
}

/* contato.html css */

.contato h1 {
  margin: 30px auto;
  text-align: center;
  font-size: 50px;
  font-family: DM Serif Display, serif;
  font-weight: 400;
  color: #292F36;
  max-width: 1200px;
}

/* servicos.html css */
.services h1 {
  text-align: center;
  font-size: 50px;
  font-family: DM Serif Display, serif;
  font-weight: 400;
  color: #292F36;
}

.services .servicesContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 20px;
}

.services .servicesContent h1 {
  font-size: 50px;
  font-family: DM Serif Display, serif;
  font-weight: 400;
  color: #292F36;
  text-align: center;
  margin-bottom: 50px;
}

.services .servicesContent .servicesContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.services .servicesContent .servicesCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: left;
  max-width: 500px;
}

.services .servicesContent .servicesImage {
  max-width: 400px;
  max-height: 400px;
  @media screen and (max-width: 768px){
    display: none;
  }
}

.services .servicesContent .servicesImage img {
  width: 100%;
  height: 100%;
}

/* blog.html css */
.blog h1 {
  text-align: center;
  font-size: 50px;
  font-family: DM Serif Display, serif;
  font-weight: 400;
  color: #292F36;
}

.blog .blog-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 20px;
}

.blog .blog-posts .post {
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 800px;
  padding: 20px;
  border-radius: 20px;
  background-color: #F4F0EC;
}

.blog .blog-posts .post img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
}

.blog .blog-posts .post .postContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blog .blog-posts .post .postContent h2 {
  font-size: 35px;
  font-family: DM Serif Display, serif;
  font-weight: 400;
  color: #292F36;
}

.blog .blog-posts .post .postContent p {
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 1%;
  color: #4D5053;
}

.blog .blog-posts .post .postContent a {
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 1%;
  color: #292F36;
}

/* about.html css */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.about h1 {
  text-align: center;
  font-size: 50px;
  font-family: DM Serif Display, serif;
  font-weight: 400;
  color: #292F36;
}

.about p {
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 1%;
  color: #4D5053;
}

.image {
  object-fit: cover;
}

.biography {
  position: absolute;
  background: rgba(205,162,116,0.8);
  top: 10%;
  left: 50%;
  padding: 20px;
  border-radius: 20px;
  max-width: 400px;
  line-height: 1.4;
}

.biography h1 {
  font-size: 35px;
  font-family: DM Serif Display, serif;
  font-weight: 400;
  color: #292F36;
}

.biography p {
  font-size: 22px;
  letter-spacing: 1%;
  font-weight: 400;
  color: #4D5053;
}